.oa
{
  --TextColor: #3e4958;
  --white:#ffffff;
  --black:#000000;
  --green:#8ac53a;
  --blue:#0080d6;
  --yellow:#facc07;
  --darkGreen:#007600;
  --darkBlue:#002060;
  --lightBlue:#dff9fb;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: linear-gradient(to right, white, dff9fb, white);
}

.oaWrapper
{
  margin-top: 20px;
  display: grid;
  row-gap: 10px;
  padding: 40px 10px;
  background-size: 50%;
  column-gap: 40px;
  align-content: start;
  position: relative;
}

.oaFormWrapper
{
  display: grid;
  row-gap: 30px;
}

.oaForm
{
  display: grid;
  row-gap: 15px;
  column-gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  align-content: start;
  align-items: end;
  justify-content: center;
  border: 1px solid rgba(0, 128, 214, 0.6);
  padding: 20px;
  border-radius: 10px;
  position: relative;
}
.oaInfo
{
  display: grid;
  row-gap: 10px;
  align-content: start;
}
.formTitle
{
  font-size: 25px;
  color: #0080d6;
  font-weight: 600;
  text-align: center;

}
.loader
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 128, 214, 0.6);
  z-index: 999;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
}
.oaButton button
{
  display: flex;
  width: 100%;
  height: 42px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid #0080d6;
  color: #0080d6;
  cursor: pointer;
  transition: 300ms;
  font-size: 18px;
  background-color: rgb(232, 240, 254);
}

.oaButton button:hover
{
  background-color: #0080d6;
  color: white;
  border-color: #065f9b;
}

.input
{
  width: 320px !important;
}

.logo
{
  width: 100px;
  margin: 0 auto;
}

.logo img
{
  width: 100%;
}
.documents
{
  padding: 10px;
  display: grid;
  row-gap: 5px;
}
.letter a
{
  display: grid;
  background-color: rgba(232, 240, 254, .4);
  width: 100%;
  height: 100%;
  padding: 10px 5px;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: space-between;
  text-transform: uppercase;
}


.wrapper
{
  display: grid;
  grid-template-columns: auto 220px;
  column-gap: 30px;
  align-items: start;
  padding-bottom: 80px;

}

.studentProfile
{
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  border: 1px solid #0080d6;
  column-gap: 10px;
  row-gap: 10px;
}
.studentImage
{
  max-width: 200px;
  width: 100%;
  height: 200px;
}
.studentImage img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.studentDetails
{
  display: grid;
  align-content: start;
  row-gap: 10px;
  padding: 10px 0;
}
.group
{
  display: flex;
  column-gap: 5px;
  color: #0080d6;
}
.groupTitle
{
  font-weight: bold;
  opacity: 0.8;
}
.documentLetter
{
  color: #0080d6;
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
}
.loginMessage
{
  color: #0080d6;
  text-align: center;
  font-size: 20px;
  opacity: 0.8;
}
.modal
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: grid;
  align-content: center;
  justify-content: center;
  z-index: 100;
}
.closeButton
{
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: unset;
  cursor: pointer;
  border-radius: 50%;
  z-index: 3;

}
.closeButton svg
{
  color: rgba(0, 128, 214, 0.6);
  width: 25px;
}
.welcomeTitle
{
  margin-bottom: 50px;
  font-size: 25px;
  color: #0080d6;
  opacity: 0.8;
}
@media all and (max-width: 992px){
  .wrapper
  {
    grid-template-columns: auto auto;
    column-gap: 10px;
  }
}

@media all and (max-width: 768px){
  .wrapper
  {
    grid-template-columns: auto;
    column-gap: 10px;
    row-gap: 20px;
  }
}

@media all and (max-width: 600px) {
  .formTitle
  {
    font-size: 20px;
  }
  .oaButton button
  {
    width: 100%;
  }
}


@media all and (max-width: 425px) {
  .group
  {
    display: grid;
  }
  .groupValue
  {
    text-indent: 10px;
  }
  .studentDetails
  {
    row-gap: 5px;
  }
}

