.news
{
  --TextColor: #3e4958;
  --white:#ffffff;
  --black:#000000;
  --green:#8ac53a;
  --blue:#0080d6;
  --yellow:#facc07;
  --darkGreen:#007600;
  --darkBlue:#002060;
  --lightBlue:#dff9fb;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.nw
{
  display: grid;
  position: relative;
  padding: 5px;
  color: #0a446b;
  box-shadow: 0 0 2px #0080d6;

}

.contentWrapper
{
  width: 100%;
  display: grid;
  margin: 30px auto;
  padding: 14px;
  /* border-radius: 5px; */
  row-gap: 30px;
  overflow: hidden;
}

.cards
{
  display: grid;
  column-gap: 15px;
  row-gap: 15px;
  grid-template-columns: repeat(3, auto);
  align-content: start;
}

.card
{
  height: fit-content;
  display: grid;
  grid-template-columns: auto;
  column-gap: 20px;
  justify-content: start;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.card:hover
{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card::before
{
  content: '';
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #facc07;
  position: absolute;
  right: -30px;
  bottom: -30px;
  border-radius: 50%;
}
.card.rtl::before
{

  right: unset;
  left: -30px;
}
.mainTitle
{
  text-align: center;
}
.title
{
  font-size: 16px !important;
  font-weight: 600;
  padding: 0 !important;
}

.card:hover .title
{
  text-decoration: underline;
}

.img
{
  height: 200px;
  width: 100%;
}

.img img
{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.textContent
{
  display: grid;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  row-gap: 10px;
}

.mainContentWrapper
{
  display: grid;
  grid-template-columns: auto 220px;
  column-gap: 30px;
  align-items: start;
}
.titleName
{
  font-weight: 100 !important;
}
@media all and (max-width: 1024px) {
  .cards
  {
    grid-template-columns: repeat(2, auto);
  }
}
@media all and (max-width: 992px) {
  .mainContentWrapper
  {
    grid-template-columns: auto auto;
    column-gap: 20px;
  }
  .img
  {
    height: 150px;
  }
  .cards
  {
    column-gap: 5px;
  }
  .title
  {
    font-size: 14px !important;
    font-weight: 600;
  }
  .contentWrapper
  {
    padding: 4px;
  }
}
@media all and (max-width: 768px) {
  .mainContentWrapper
  {
    grid-template-columns: auto;
    row-gap: 30px;
  }

  .img
  {
    height: 170px;
  }
  
}

@media all and (max-width: 600px) {
  .img
  {
    height: 120px;
  }
  
}
@media all and (max-width: 425px) {
  .img
  {
    height: 180px;
  }
  
  .cards
  {
    grid-template-columns: 1fr;
  }
  
}
