.cmsg
{
  --TextColor: #3e4958;
  --white:#ffffff;
  --black:#000000;
  --green:#8ac53a;
  --blue:#0080d6;
  --yellow:#facc07;
  --darkGreen:#007600;
  --darkBlue:#002060;
  --lightBlue:#dff9fb;
  height: 100%;
  background-image: linear-gradient(to right, #ffffff, #dff9fb, #dff9fb, #ffffff);
  background-color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cmsgw
{
  padding: 10px;
  transition: 300ms;
  background-size: 50%;
}

.contentW
{
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: end;
  width: 340px;
  margin: 0 0 0 auto;
  column-gap: 10px;
  align-content: center;
  padding: 10px;
  border-radius: 10px;

}

.ch
{
  height: 150px;
}

.ch img
{
  height: 100%;
  width: 100%;
  border-radius: 30px;
  object-fit: cover;
}

.title
{
  padding: 5px 0;
  font-size: 16px;
  color: #0080d6;
}

.textContent
{
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(auto, 30px));
  
}

.name
{
  font-weight: 600;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

.button
{
  display: inline-block;
  grid-row-end: -2;
  padding: 0 !important;
}


@media all and (max-width: 375px) {
  .contentW
  {
    display: grid;
    justify-content: center;
    width: 100%;
    margin: unset;
    padding: 0;
  }
}