

.upperMenuContainer
{
  /* background-image: linear-gradient(to top, rgba(250, 204, 7, 0.8), #facc07, #e4bc0c); */
  /* background-color: #363333; */
  --TextColor: #3e4958;
  --white:#ffffff;
  --black:#000000;
  --green:#8ac53a;
  --blue:#0080d6;
  --yellow:#facc07;
  --darkGreen:#007600;
  --darkBlue:#002060;
  position: relative;
}
.upperMenu
{
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  max-width: 1024px;
  width: 100%;
  margin: 0 0 0 auto;
}
.menuLeft
{
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 10px;
}
.menuLeft a
{
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
  transition: 300ms;
  display: flex;
  align-items: center;
  transition: 300ms;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  color: #002060 !important;
  /* clip-path: polygon(52% 0, 81% 11%, 100% 1%, 100% 99%, 68% 86%, 41% 99%, 16% 90%, 0 100%, 0 0, 26% 9%); */

  /* background-color: #0080d6 !important; */
  /* background-color: rgba(37, 204, 247, 0.5) !important; */
  background-color: white !important;
  background-image: linear-gradient(to top right, #25CCF7, rgba(37, 204, 247, 0.3)) !important;



}

.menuLeft a:active
{

  opacity: 0.3;
  scale: 1.05;
}

.menuRight button::before,
.menuLeft a::before
{
  content: '';
  display: inline-block;
  width: 80px;
  position: absolute;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  transition: 300ms;
  bottom: -40px;
  left: -40px;

}



.menuRight button:not(.active)::before
{
  bottom: -60px;
  left: -60px;
}
.menuRight button.active::before, .menuRight button:hover::before 
{
  bottom: -40px;
  left: -40px;
}
.menuLeft a:hover
{
  border-color: rgba(0, 0, 139, 0);
  box-shadow: 1px 1px 10px rgba(0, 0, 139, 0);
  background-color: transparent;

}
.menuLeft a i svg
{
  transition: 300ms;
}
.menuLeft a:hover i svg
{
  color: white !important;
}

.menuLeft a span
{
  display: inline-block;
  margin-left: 10px;
  position: relative;
  z-index: 9;
  transition: 300ms;
}
.menuLeft a address, .menuLeft a p
{
  display: inline-block;
  transition: 300ms;
  
}
.menuLeft a:hover address
{
  scale: 1.05;
}
.menuLeft a i
{
  display: flex;
  position: relative;
  z-index: 9;
  transition: 300ms;
}
.menuLeft a:hover::before
{

  bottom: -60px;
  left: -60px;


}



.menuRight button
{
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content:  center;
  font-size: 14px;
  cursor: pointer;
  /* color: #007600; */
  font-weight: bold;
  color: var(--TextColor);
  text-transform: uppercase;
  padding: 5px;
  margin: 0 3px;
  border-radius: 5px;
  border: unset;
  transition: 300ms;
  position: relative;
  overflow: hidden;
}
.menuRight button:hover, button.active, .menuLeft a
{
  box-shadow: 1px 1px 10px rgba(0, 0, 139, 0.2);
  /* background-color: #ffd000; */
  background-color: #0080d6;
  color: white;

}

.flags
{
  height: 24px;
  object-fit: cover;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  z-index: 9;
}
/* ///////////////////////////////////////// NAVBAR */
.nav
{
  display: grid;
  border-bottom: 18px solid #25CCF7;
  background-color: #dff9fb;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9999;
}

.navShaper
{
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;

}
.navShaper > span
{
  transform: rotate(0deg);
  display: inline-block;
  opacity: 0.5;
  position: absolute;
}

.navShaper > span:first-child
{
  top: 10px;
  right: 25px;
  animation-duration: 15000ms;
}

.navShaper > span:nth-child(10)
{
  top: 10px;
  right: 140px;
}
.navShaper > span:nth-child(2)
{
  top: 50px;
  right: 80px;
}

.navShaper > span:nth-child(3)
{
  top: 50px;
  right: 190px;
}
.navShaper > span:nth-child(4)
{
  top: 10px;
  left: 25px;
}
.navShaper > span:nth-child(5)
{
  top: 10px;
  left: 140px;
}
.navShaper > span:nth-child(6)
{
  top: 50px;
  left: 80px;
}
.navShaper > span:nth-child(7)
{
  top: 50px;
  left: 190px;
}
.navShaper > span:nth-child(8)
{
  top: 10px;
  left: 240px;
}
.navShaper > span:nth-child(9)
{
  top: 10px;
  right: 240px;
}

.navMenu
{
  display: grid;
  grid-template-columns: repeat(2, auto);
  position: relative;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  background-color: #dff9fb;

}

.logo
{
  display: flex;
  cursor: pointer;
}

.logo img
{
  height: 124px;
  object-fit: contain;
  position: absolute;
  top: -40px;
  transition: 300ms;
}

.menuItems
{
  display: grid;
  grid-template-columns: repeat(10, minmax(100px, auto));
}

.menuItem
{
  padding: 23px 3px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  text-decoration: none;
}
.menuItem span
{
  transition: 300ms;
  position: absolute;
  display: flex;

}
.menuItem span.menuText
{
  padding: 2px;
  text-shadow: 1px 1px 0 #002060, 2px 2px 3px rgba(0, 4, 255, 0.3);
  position: relative;
  z-index: 9;
  background-color: #0080d6;
  background-image: linear-gradient(to top right, #25CCF7, rgba(37, 204, 247, 0.3));
  color: white;
  border-radius: 5px;
  min-width: 75px;
  text-align: center;
  display: inline-block;
}
.menuItem::before
{
  content: '';
  display: inline-block;
  position: absolute;
  width:  50px;
  height: 50px;
  background-color: #0080d6;
  background-image: linear-gradient(to top right, #25CCF7, rgba(37, 204, 247, 0.3));
  transition: 300ms;
  border-radius: 50%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
  clip-path: polygon(52% 0, 81% 11%, 100% 1%, 100% 99%, 68% 86%, 41% 99%, 16% 90%, 0 100%, 0 0, 26% 9%);
  z-index: 3;
}

.menuItem span.shaper::before, .menuItem span.shaper::after 
{
  content: "";
  display: inline-block;
  position: absolute;
  width:  37px;
  height: 37px;
  /* background-color: rgba(3, 67, 110, 0.5); */
  background-color: white;
  background-image: linear-gradient(to top right, #25CCF7, rgba(37, 204, 247, 0.3));
  border-radius: 50%;
  top: 0;
  right: 0;
  transition: 300ms;
  clip-path: polygon(52% 0, 81% 11%, 100% 1%, 100% 99%, 68% 86%, 41% 99%, 16% 90%, 0 100%, 0 0, 26% 9%);
  

}

.menuItem span.shaper::after
{
  top: unset;
  right: unset;
  bottom: 0;
  left: 0;
}
.menuItem:hover span.menuText, 
.menuItem.active span.menuText, 
.menuItem:focus span.menuText
{
  background-image: linear-gradient(to top right, #045283, rgb(0, 157, 255));
}
/* .menuItem:hover span.shaper, 
.menuItem.active span.shaper,
.menuItem:focus span.shaper
{
  transform: rotate(90deg);
} */
.menuItem:hover span.shaper::before, 
.menuItem:hover span.shaper::after , 
.menuItem.active span.shaper::before,
.menuItem.active span.shaper::after,
.menuItem:focus span.shaper::before, 
.menuItem:focus span.shaper::after
{
  /* background-color: #03436e; */
  border-radius: 0%;
  
}
.menuItem:hover:before, 
.menuItem.active::before,
.menuItem:focus:before
{
  /* clip-path: polygon(100% 0, 99% 57%, 96% 99%, 51% 100%, 17% 93%, 0 100%, 7% 50%, 0 5%, 61% 0, 84% 6%); */
  border-radius: 0%;
  background-image: linear-gradient(to top right, #045283, rgb(0, 157, 255));
}

.menuItem:hover .menuHintIcon,
.menuItem:focus .menuHintIcon
{
  scale: 1.3;
  z-index: 11;
  bottom: -10px;
}

.menuHintIcon
{
  bottom: -20px;
  transform: rotate(45deg);
  opacity: 0.5;
}
.menuHintIcon2
{
  bottom: -22px;
  opacity: 0;
  animation-name: fade-down;
  animation-duration: 3000ms;
  animation-delay: 1000ms;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;

}
.menuHintIcon svg
{
  transform: rotate(-45deg);
}
.dropDown
{
  position: absolute;
  width: 0;
  display: grid;
  z-index: 10;
  top: 77px;
  right: 0;
  row-gap: 1px;
  border-radius: 5px;
  overflow: hidden;
  border-top: 1px solid #dff9fb;
  box-shadow: 1px 1px 5px rgba(62, 73, 88, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: 300ms 80ms;
  width: 220px;
  transform: scaleY(0);
  transform-origin: top;
  clip-path: polygon(98% 34%, 100% 50%, 97% 68%, 99% 99%, 2% 100%, 4% 76%, 1% 52%, 1% 33%, 2% 16%, 0 0, 98% 0, 100% 14%);
  background-color: #dff9fb;

}
.menuItem:hover .dropDown,
.menuItem:focus .dropDown
{
  visibility: visible;
  opacity: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: scaleY(1);
  clip-path: none;
}
.dropDownLink
{
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #009dff;
  background-color: white;
  text-shadow: 1px 1px 0px transparent;
  transition: 300ms;
  font-size: 16px;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  outline: 0;
  border: unset;
  cursor: pointer;
  white-space: nowrap;
}
.dropDownLink span
{
  position: relative !important;
  display: inline-block !important;
  z-index: 9;
  transition: 300ms !important;
}
.dropDownLink:hover, .dropDownLink.active
{
  color: #0080d6;
}
.dropDownLink::before, .dropDownLink::after
{
  content: '';
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 10%;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: linear-gradient(to top right, rgba(37, 204, 247, .5), rgba(37, 204, 247, 0.3));
  top: 0;
  transition: 500ms;

}
.dropDownLink::before
{
  clip-path: polygon(0 0, 50% 0, 100% 50%, 50% 100%, 0 100%);
  left: 0;
}
.dropDownLink::after
{
  clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%, 0% 50%);
  right: 0;

}
.dropDownLink:hover::after, .dropDownLink:hover::before , .dropDownLink.active::after, .dropDownLink.active::before
{
  width: 100%; 
}
/* .dropDownLink:hover
{
  background-color: #009dff;
} */

.mobileShaperRight, .mobileShaperLeft
{
  display: none;
  position: absolute;
}

.mobileDropDown
{
  display: none;
}


@keyframes rotate {
  100%
  {
    transform: rotate(360deg);
  }
}

@keyframes fade-down {
  0%
  {
    transform: translateY(0px) rotate(45deg);
    opacity: 1;
    scale: 1.2;
  }
  100%
  {
    transform: translateY(10px) rotate(45deg);
    scale: 1;
  }
}


@media all and (max-width: 1280px) {

  .upperMenu
  {
    max-width: 800px;
  }
  .nav
  {
    border-bottom-width: 10px;
  }
  
  .menuItems
  {
    grid-template-columns: repeat(10, minmax(81px, auto));

  }
  .menuItem
  {
    font-size: 12px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0 rgb(37, 36, 36);
    padding: 20px 0;
  }
  .menuItem::before
  {
    width:  43px;
    height: 43px;
  }
  .menuItem span.shaper::before, .menuItem span.shaper::after 
  {
    width:  30px;
    height: 30px;
  }
  .menuHintIcon
  {
    bottom: -13px;
  }
  .menuHintIcon svg
  {
    height: 14px;
    width: 14px;
  }
  .dropDownLink
  {
    font-size: 12px;
  }
  .dropDown
  {
    top: 60px;
    right: 0;
  }
  .menuItem:hover .dropDown
  {
    width: 205px;
  }
  .menuLeft a
  {
    font-size: 12px;
    padding: 5px 7px;
  }
  
  .menuLeft a::before
  {
    width: 77px;
    height: 77px;
  }
  .menuRight button::before
  {
    width: 71px;
    height: 71px;
  }
  
  .menuRight button
  {
    font-size: 10px;
    padding: 2px 5px;
  }
  .flags
  {
    height: 18px;
    margin-right: 7px;
  }
}

.menuToggler
{
  display: none;
}

@media all and (max-width: 1097px) {
  .logo img
  {
    height: 100%;
    top: 0;
  }
}


@media all and (max-width: 992px) {
  .logo
  {
    position: relative;
    z-index: 999;
  }
  .logo img
  {
    height: 45px !important;
    position: static;
  }
  .upperMenuContainer, .menuItems
  {
    display: none;
  }
  .navShaper > span
  {
    display: none;
  }
  .navShaper
  {
    z-index: 99;
  }
  .nav
  {
    border-bottom: unset;
    height: 50px;
    padding: 0 30px;
  }
  .navMenu
  {
    padding: 0;
    align-items: center;
    background-color: #0080d6;
  }
  .input:checked + .menuToggler .togglerItem:not(.cross, .center)
  {
    opacity: 0;
    scale: 2;
  }
  .input:checked + .menuToggler .cross
  {
    width: 24px;
    border-radius: 2px;
    height: 2px;
    scale: 0.8;
  }
  .input:checked + .menuToggler .cross1
  {
    transform: rotate(-45deg);
    left: 0px !important;
    top: 10px !important;
  }
  .input:checked + .menuToggler .cross2
  {
    transform: rotate(45deg);
    right: 0px !important;
    bottom: 10px !important;
  }
  .menuToggler
  {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 3px;
    row-gap: 3px;
    cursor: pointer;
    transition: 300ms;
    position: relative;
    width: 24px;
    height: 24px;
    position: relative;
    z-index: 999;
  }
  .menuToggler:hover
  /* .input:checked + .menuToggler */
  {
      animation-name: rotate;
      animation-duration: 5000ms;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
  }
  .togglerItem
  {
    display: inline-block;
    background-color: #0080d6;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: 300ms;
    position: absolute;
    border: 1px solid transparent;
  }
  .togglerItem:nth-child(2)
  {
    left: 9px;
    top: 0;
  }
  .menuToggler:hover .togglerItem:nth-child(2),
  .input:checked + .menuToggler .togglerItem:nth-child(2)
  {
    left: 9px;
    top: 3px;
  }
  .togglerItem:nth-child(3)
  {
    right: 0;
    top: 0;
  }
  .togglerItem:nth-child(4)
  {
    left: 0;
    top: 9px;
  }
  .menuToggler:hover .togglerItem:nth-child(4),
  .input:checked + .menuToggler .togglerItem:nth-child(4)
  {
    left: 3px;
    top: 9px;
  }
  .togglerItem:nth-child(5)
  {
    left: 0;
    bottom: 0;
  }
  .togglerItem:nth-child(6)
  {
    left: 9px;
    bottom: 9px;
  }
  .togglerItem:nth-child(7)
  {
    right: 0;
    bottom: 9px;
  }
  .menuToggler:hover .togglerItem:nth-child(7),
  .input:checked + .menuToggler .togglerItem:nth-child(7)
  {
    right: 3px;
    bottom: 9px;
  }
  .togglerItem:nth-child(8)
  {
    right: 9px;
    bottom: 0;
  }
  .menuToggler:hover .togglerItem:nth-child(8),
  .input:checked + .menuToggler .togglerItem:nth-child(8)
  {
    right: 9px;
    bottom: 3px;
  }
  .togglerItem:nth-child(9)
  {
    right: 0;
    bottom: 0;
  }
  .menuToggler:hover .hide,
  .input:checked + .menuToggler .hide
  {
    opacity: 0;
  }
  .menuToggler .center
  {
    border: 1px solid #0080d6;
  }
  .menuToggler:hover .center,
  .input:checked + .menuToggler .center
  {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    left: 0;
    bottom: 0;
  }

  .mobileShaperRight, .mobileShaperLeft
  {
    display: block;
    width: 200px;
    height: 200px;
    background-color: #dff9fb;
    top: -100px;
    border-radius: 50%;
  }
  .mobileShaperRight
  {
    right: -100px;
  }
  .mobileShaperLeft
  {
    left: -100px;
  }
  .input:checked ~ .mobileDropDown
  {
    display: grid;
    visibility: visible;
    opacity: 1;
    height: auto;
    max-height: 550px;
    transform: scaleY(1);
  }

  .mobileDropDown
  {
    width: 100%;
    display: grid;
    position: fixed;
    right: 0;
    overflow-x: hidden;
    top: 48px;
    z-index: 9999;
    background-color: #dff9fb;
    text-align: center;
    border-top: 2px solid #dff9fb;
    row-gap: 2px;
    transition: 300ms;
    align-content: start;
    opacity: 0;
    visibility: hidden;
    border: 1px solid #0080d6;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    max-height: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  .mobileItem
  {
    text-decoration: none;
  }
  .mobileLink
  {
    padding: 10px;
    cursor: pointer;
    display: block;
    position: relative;
    overflow: hidden;
    /* background-color: #0080d6; */
    /* background-image: linear-gradient(to bottom, #0080d6, rgba(37, 204, 247, 0.2) ,#0080d6); */
    background-color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(to top right, rgba(37, 204, 247, .7), rgba(37, 204, 247, 0.3));
    /* color: #dff9fb; */
    color: #0080d6;
    /* text-shadow: 0px 0px 2px #0080d6; */
    transition: 300ms;
    font-size: 14px;
    font-weight: 600;
    /* box-shadow: 0px 0px 2px rgba(0, 128, 214, 1); */
    text-decoration: none;
  }

  .mobileLink:hover,
  .mobileLink.active,
  .chekcBox:checked + .mobileLink
  {
    background-color: #dff9fb;
    /* background-image: linear-gradient(to bottom, white, #dff9fb, white); */
    color: #0080d6;
    text-shadow: 0px 0px 2px #dff9fb;
  }

  .mobileLink:hover::before,
  .mobileLink:hover::after,
  .mobileLink.active::before,
  .mobileLink.active::after,
  .chekcBox:checked + .mobileLink::after,
  .chekcBox:checked + .mobileLink::before
  {
    background-color: #0080d6;
    background-image: linear-gradient(to bottom, #0080d6, rgba(37, 204, 247, 0.7) ,#0080d6);
    border-color: #dff9fb;
  }

  .mobileLink::before, 
  .mobileLink::after
  {
    content: '';
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #dff9fb;
    background-image: linear-gradient(to bottom, #dff9fb, white, #dff9fb);
    position: absolute;
    top: -100px;
    transition: 1000ms;
  }

  .mobileLink::before
  {
    right: -140px;
  } 

  .mobileLink::after
  {
    left: -140px;
  }

  .mobileLinkShape
  {
    left: 40%;
    top: -80px;
    position: absolute;
    z-index: 9;
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    transition: 300ms;
    clip-path: polygon(50% 8%, 78% 18%, 90% 42%, 90% 70%, 69% 91%, 35% 89%, 13% 75%, 10% 44%, 22% 18%);
    animation-name: shaper;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-weight: 100;
  }

  .mobileLink:hover .mobileLinkShape,
  .mobileLink.active .mobileLinkShape,
  .chekcBox:checked + .mobileLink .mobileLinkShape
  {
    background-color: rgba(0, 128, 214, 0.1);
  }
  .menuTitle
  {
    padding: 3px;
    color: #0080d6;
    /* font-size: 20px; */
  }
  .mobileLangs
  {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    column-gap: 5px;
    background-color: #0885d9;
    padding: 2px;
  }
  .mobileLang
  {
    display: flex;
    border: unset;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0px 0px 1px white;
    color: white;
    margin-bottom: 1px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-size: 12px;
    transition: 300ms;
    position: relative;
    overflow: hidden;
    padding: 5px;
    margin-top: 3px;
  }
  .mobileLang::before
  {
    content: '';
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    left: -60px;
    bottom: -60px;
    transition: 300ms;
  }
  .mobileActive, 
  .mobileLang:hover
  {
    background-color: white;
    color: #0080d6;
    box-shadow: 0 0 0 transparent;
    border-radius: 0px 10px 0px 5px;

  }
  .mobileActive::before, 
  .mobileLang:hover::before
  {
    background-color: #009dff;
    left: -30px;
    bottom: -30px;
  }
  .mobileLink:hover .icon svg, 
  .chekcBox:checked + .mobileLink .icon svg
  {
    color: #dff9fb ;
  }
  .icon
  {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 100%;
    transition: 300ms;
    z-index: 1;
    top: 6px;
    right: 10px;
  }
  .icon svg
  {
    color: #0080d6 ;
    transition: 300ms;
  }
  label .icon svg:first-child
  {
    display: inline;
  }
  label .icon svg:last-child
  {
    display: none;
  }
  .chekcBox:checked + label .icon svg:first-child
  {
    display: none;
  }
  .chekcBox:checked + label .icon svg:last-child
  {
    display: inline;
  }
  .chekcBox:checked ~ .mobileNestedMenu
  {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    max-height: 1000px;
    height: auto;
  }
  .mobileNestedMenu
  {
    opacity: 1;
    row-gap: 1px;
    justify-items: center;
    display: grid;
    visibility: hidden;
    padding-top: 1px;
    transition: 300ms;
    overflow: hidden;
    position: relative;
    max-height: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: top;
    transform-style: preserve-3d;
    perspective: 800px;
  }
  .mobileNestedLink
  {
    display: inline-block;
    /* background-color: #009dff; */
    background-color: rgba(37, 204, 247, 0.5);
    text-decoration: none;
    color: #0080d6;
    /* border: 1px solid #0080d6; */
    border-top-color: transparent;
    padding: 10px;
    width: 80%;
    font-size: 13px;
    transition: 300ms;
    border-radius: 0px 0 20px 20px;
    position: relative;
    overflow: hidden;

  }
  .mobileNestedLink > span
  {
    position: relative;
    z-index: 2;
  }
  .mobileNestedLink::before
  {
    content: '';
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    transition: 300ms;
    clip-path: polygon(50% 100%, 100% 0, 100% 100%, 50% 0, 0 100%, 0 0);
  }
  .mobileNestedLink:hover::before,
  .mobileNestedLink.active::before
  {
    clip-path: polygon(56% 0, 100% 0, 100% 100%, 48% 100%, 0 100%, 0 0);
  }
  .mobileNestedLink:hover,
  .mobileNestedLink.active
  {
    background-color: #0080d6;
    color: white;
  }
}



@keyframes shaper {
  0%
  {
    clip-path: polygon(50% 8%, 78% 18%, 90% 42%, 90% 70%, 69% 91%, 35% 89%, 13% 75%, 10% 44%, 22% 18%);
  }
  20%
  {
    clip-path: polygon(40% 7%, 63% 22%, 92% 30%, 80% 57%, 81% 85%, 40% 95%, 13% 86%, 6% 56%, 11% 15%);
  }
  40%
  {
    clip-path: polygon(7% 23%, 54% 6%, 73% 25%, 90% 34%, 93% 63%, 76% 85%, 45% 91%, 13% 82%, 3% 53%);
  }
  60%
  {
    clip-path: polygon(21% 34%, 30% 8%, 66% 15%, 90% 25%, 94% 48%, 86% 75%, 61% 90%, 30% 82%, 9% 58%);
  }
  80%
  {
    clip-path: polygon(4% 46%, 16% 12%, 55% 4%, 84% 18%, 83% 42%, 93% 65%, 83% 78%, 52% 89%, 10% 78%);
  }
  100%
  {
    clip-path: polygon(8% 70%, 11% 36%, 21% 15%, 58% 11%, 85% 20%, 97% 51%, 93% 89%, 56% 91%, 25% 90%);
    rotate: 360deg;
  }
  
}