.orgStructure
{
  --TextColor: #3e4958;
  --white:#ffffff;
  --black:#000000;
  --green:#8ac53a;
  --blue:#0080d6;
  --yellow:#facc07;
  --darkGreen:#007600;
  --darkBlue:#002060;
  --lightBlue:#dff9fb;
  background-color: #dff9fb;
  background-image: linear-gradient(to right, #ffffff, #dff9fb, #dff9fb, #ffffff);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


.osw
{
  display: grid;
  position: relative;
  padding: 5px;
  color: #0a446b;
  box-shadow: 0 0 2px #0080d6;

}

.contentWrapper
{
  width: 100%;
  max-width: 1000px;
  display: grid;
  margin: 30px auto;
  padding: 14px;
}

.title
{
  font-size: 25px !important;
  font-weight: bold;
  text-align: center;
}
.text
{
  text-align: center;
}

.textData
{
  font-size: 18px;
  display: grid;
  row-gap: 15px;
  text-emphasis: none;
}

.br
{
  background-color: #0a446b;
  height: 2px;
  margin: 30px auto ;
  width: 100%;
  max-width: 520px;
}

.orgImage
{
  width: 100%;
}

.orgImage img
{
  width: 100%;
  object-fit: cover;
}

@media all and (max-width: 768px){
  .title
  {
    font-size: 18px !important;
  }
  .textData
  {
    font-size: 18px !important;
  }
}
@media all and (max-width: 425px){
  
  .contentWrapper
  {
    margin: 20px auto;
    padding: 7px;
  }
}